body {
  background-color: #07090f;
}
.glow-3 {
  /* transform: translateX(-50%); */
  /* width: max-content; */
  animation: slide 4s ease-in-out infinite;
  opacity: 0.5;
  filter: blur(1px);
}
.glow-3::before {
  content: "";
  inset: 0;

  background: rgb(0, 0, 0);
  position: absolute;
  opacity: 0.7;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 0.01;
  }
}

@keyframes slide {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-4px);
  }
}
