input,
textarea,
select {
  all: unset;
  box-sizing: border-box;
}

input,
textarea,
select {
  width: 100%;
  font-family: inherit;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

button {
  all: unset;
  box-sizing: border-box;
}
